{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area" style="background-image: url({% static 'img/banner/bradcam.png' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    {% for i in object_list%}
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{i.thumbnail.url}}" alt="" width="750" height="375">
                                <a href="#" class="blog_item_date">
                                    <p>{{i.created_date |date:"d"}}</p>
                                    <p>{{i.created_date |date:"M"}}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href=" {% url 'blog_detail' i.pk %}">
                                    <h2>{{i.title}}</h2>
                                </a>
                                <p>
                                {% autoescape off %}

                                {{i.text|truncatewords:25}}
                                {% endautoescape %}
                                </p>
                                <ul class="blog-info-link">
                                    <li><a href="{% url 'tag' i.tag %}"><i class="fa fa-user"></i> {{i.tag}}</a></li>
                                </ul>
                            </div>
                        </article>          
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <form method="GET" action="{% url 'blog' %}">
                                            <input type="text" class="form-control" placeholder=''
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Ara'" name="search">
                                            <button class="btn" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Arama</button>
                            </form>                    
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Kategoriler</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'blog' %}" class="d-flex">
                                        <p>Tümü</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'tag' 'Genel' %}" class="d-flex">
                                        <p>Genel</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'tag' 'Kediler' %}" class="d-flex">
                                        <p>Kediler</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'tag' 'Köpekler' %}" class="d-flex">
                                        <p>Köpekler</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'tag' 'Balıklar' %}" class="d-flex">
                                        <p>Balıklar</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}