{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area" style="background-image: url({% static 'img/banner/bradcam.png' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Covid-19 Duyuru</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    <!-- service_area_start  -->
    
    <!-- team_area_start  -->

    <!-- contact_anipat_start  -->
    <div class="contact_anipat anipat_bg_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <img src="{% static 'img/logo.png' %}" alt="">
                            <p>Toplum sağlığını ilgilendiren konularda üzerine düşen görevleri yerine getirmeyi büyük 
                                bir görev addeden Can Dostum ailesi olarak, dünyayı etkisi altına alan Yeni Koronavirüs (Covid-19)
                                  ile mücadele kapsamında önemli çalışmalar gerçekleştirmekteyiz. Mama bağışlarınız hijyenik paketli ve kaliteli ürünlerden oluşmaktadır.</p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <a  class="boxed-btn4">CAN DOSTUM</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact_anipat_end  -->

{% endblock content %}
